@media screen and (max-width: 991px) /*Pour les tablettes*/ {
  body {
    margin-left: 20px;
  }

  /*BarreRecherche*/
  .fas.fa-search {
    display: inline;
    background-color: inherit;
    padding: 17px;
  }

  .BarreRecherche .buttonblanc {
    display: none;
  }

  .BarreRecherche input {
    flex-basis: 190px;
    border: 1px solid var(--lightgrey);
    font-weight: bold;
    overflow: auto;
    padding: 18px;
  }

  /*FILTRES*/
  .partiefiltres {
    align-items: flex-start;
  }

  .liste_filtres {
    gap: 30px;
  }

  /*Hébergements*/

  .marseille {
    width: 56%;
  }

  .populaires {
    width: 44%;
  }

  .card_marseille {
    max-height: 175px;
    min-width: 47.5%;
  }

  .image_card {
    max-height: 93px;
    min-width: 70%;
  }

  .marseille_populaires {
    font-size: 13.5px;
    gap: 20px;
  }

  .marseille_conteneur {
    gap: 16px;
  }

  .starts_marseille {
    font-size: 13px;
    padding-bottom: 2%;
  }

  .info_populaires {
    font-size: 15px;
  }

  .hebmarseille_prix {
    font-size: 13px;
  }
  .populaires_card {
    max-height: 130px;
    min-width: 93%;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 5px 6px #f2f2f2;
    font-size: 12px;
    gap: 40px;
  }

  .populaires_title {
    font-size: 13.5px;
  }

  .populaires_prix {
    font-size: 13px;
  }

  .starts {
    font-size: 13px;
    margin-bottom: 30px;
  }

  .populaires_conteneur {
    gap: 40px;
  }

  .info_populaires {
    padding: 0.8%;
    padding-top: 3%;
    padding-left: 2%;
  }

  /*Activités à Marseille*/

  .activites_conteneur {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1030px;
    gap: 10px;
    padding-bottom: 2%;
  }

  .grand_card {
    width: 47%;
    height: 480px;
    margin-top: 10px;
    margin-right: 2%;
    background-color: white;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 0px 5px 6px #f2f2f2;
    object-fit: cover;
  }

  .grandcard_image {
    width: 100%;
    height: 427.2px;
    object-fit: cover;
    object-position: bottom 50%;
    border-radius: 15px 15px 0px 0px;
  }

  .deux_cards {
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .moyenne_card {
    width: 100%;
    height: 265px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 0px 5px 6px #f2f2f2;
    object-fit: cover;
  }

  .moyennecard_image {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    object-position: 100%;
    object-fit: cover;
  }

  .petite_card {
    width: 96%;
    height: 172px;
    margin-top: 10px;
    background-color: white;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 0px 5px 6px #f2f2f2;
    margin-left: 2%;
    margin-bottom: 10px;
  }

  .petitecard_image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    object-position: 0% 34%;
    object-fit: cover;
  }

  .deuxpetites_card {
    width: 47%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
  }

  .petitescards_image {
    width: 100%;
    height: 169.6px;
  }

  .deux_petites {
    width: 100%;
    height: 220px;
  }
}
