@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --lightgrey: #f2f2f2;
}

body,
html {
  font-size: 16px;
  width: 98%;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Body*/

#page_complete {
  margin-left: 2rem;
}

/*Barre de navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  padding: 3rem;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: var(--blue);
}

.subnav {
  display: flex;
}

.subnav a:hover {
  color: var(--blue);
}

#logo {
  height: 50px;
  margin-right: auto;
}

/*main*/

/*BarreRecherche*/
.BarreRecherche {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.BarreRecherche > * {
  padding: 1rem 1.2rem;
  font-size: 1rem;
}

.BarreRecherche i {
  background-color: var(--lightgrey);
  border-radius: 1rem 0 0 1rem;
  padding: 21px;
}

.BarreRecherche input {
  flex-basis: 16rem;
  border: 1px solid var(--lightgrey);
  font-weight: bold;
  overflow: auto;
  padding: 18px;
}

.BarreRecherche input::placeholder {
  color: black;
}

.BarreRecherche button {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  padding: 19px;
}

.fas.fa-search {
  display: none;
}

/*FILTRES*/

#partiefiltres {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.filtres .fa-solid {
  color: var(--blue);
  background-color: var(--lightblue);
  padding: 1rem;
  border-radius: 50%;
  margin: -1px;
}

.filtres {
  border: 1px solid var(--lightgrey);
  border-radius: 2rem;
}

.filtres span {
  font-weight: bold;
}

#partiefiltres span {
  font-weight: bold;
  padding: 0.5rem;
}

#économique,
#romantique {
  flex-basis: 11rem;
}

#familial {
  flex-basis: 9rem;
}

#animaux_autorisés {
  flex-basis: 14rem;
}

/*info logements*/
.info_logements {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.info_logements .fa-info {
  color: var(--blue);
  width: 2rem;
  height: 2rem;
  border: 1px solid darkgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hébergements*/

.marseille_populaires {
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
.marseille_conteneur {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.marseille_populaires h3 {
  font-size: 20px;
}
.marseille {
  flex-basis: 66%;
  background-color: #f2f2f2;
  padding: 2%;
  border-radius: 15px 15px 15px 15px;
}

.Afficher_plus {
  display: flex;
  justify-self: left;
  flex-wrap: wrap;
  font-weight: bold;
  margin-right: 0;
  margin-left: 0.2rem;
}

.marseille h3 {
  margin-left: 1px;
}

.card_marseille {
  width: 33%;
  height: 250px;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.3rem;
  box-shadow: 0 0 16px #0000002e;
  flex-grow: 1;
  flex-basis: 30%;
  gap: 2rem;
  min-width: 15rem;
}

.hebmarseille_title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
  object-fit: fill;
}

.hebmarseille_prix {
  padding-left: 3%;
  font-size: 14px;
  object-fit: fill;
}

.blue_start {
  color: var(--blue);
}

.grey_start {
  color: var(--lightgrey);
}

.starts_marseille {
  display: flex;
  padding-left: 3%;
  padding-bottom: 1rem;
}

.image_card {
  border-radius: 1.5rem 1.5rem 0 0;
  height: 9rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.populaires {
  flex-basis: 33%;
  background-color: #f2f2f2;
  padding: 1%;
  border-radius: 15px 15px 15px 15px;
}

.populaires_conteneur {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.lien_populaires {
  display: flex;
}

.info_populaires {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10%;
}

.populaires_prix {
  font-size: 13.5px;
}
.titre_populaires {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  padding-bottom: 0.5rem;
}

.start_titre {
  font-size: 21px;
  padding-right: 7%;
}

.populaires_card {
  width: 80%;
  height: 150px;
  max-height: 10rem;
  min-width: 15px;
  display: flex;
  justify-content: flex-startS;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.1rem;
  padding-top: 0.2rem;
  margin-left: 5%;
  box-shadow: 0 0 16px #0000002e;
  flex: 1;
  flex-basis: 30%;
  gap: 2rem;
}

.image_populaires {
  border-radius: 1.5rem 0 0 1.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.images {
  width: 40%;
  height: 100%;
  padding: 0.5%;
}
.populaires_title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 10%;
  object-fit: fill;
}

.starts {
  display: flex;
  padding-top: 10%;
}

.info_prix {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  padding-top: 0.8rem;
  gap: 2%;
}

/*Activités à Marseille*/

.activites_marseille {
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.5%;
  gap: 2rem;
}

.activites h3 {
  font-size: 20px;
  margin-left: 0.2%;
}

.activites_conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 520px;
}

.grand_card1,
.grand_card2 {
  width: 23%;
  height: 440px;
  margin-top: 10px;
  margin-right: 2%;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 4px 4px 15px #e6e6e6;
}

.deux_cards {
  gap: 1%;
}

.deuxpetites_card {
  gap: 2%;
}
.deux_cards,
.deuxpetites_card {
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.moyenne_card {
  width: 100%;
  height: 265px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 4px 4px 15px #e6e6e6;
}

.moyennecard_image {
  width: 100%;
  height: 215px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.petite_card {
  width: 100%;
  height: 155px;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 4px 4px 15px #e6e6e6;
}

.petitecard_image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.deux_petites1,
.deux_petites2 {
  width: 100%;
  height: 210px;
  margin-top: 12px;
  margin-right: 25px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 4px 4px 15px #e6e6e6;
}

.petitescards_image {
  width: 100%;
  height: 155px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.infocard_marseille {
  width: 100%;
  height: 50px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 13px;
}

.grandcard_image {
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/*Footer*/
.footer {
  background-color: var(--lightgrey);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
  padding: 1rem;
}

#A_propos,
#Nos_hébergements,
#Assistance {
  flex-basis: 33%;
  margin-left: 1rem;
}
