@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

/*Barre de navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  padding: 2rem;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: #0065fc;
}

.subnav {
  display: flex;
}

.subnav a:hover {
  color: #0065fc;
}

#logo {
  margin-right: auto;
}

@media (max-width: 992px) {
  .subnav {
    flex-basis: 100%;
  }

  .subnav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid lightgrey;
  }

  .subnav a:hover {
    border-bottom-color: #0065fc;
    border-top-color: transparent;
  }
}

/*main*/
.page {
  padding: 0 2rem;
}

.page h1 .page p {
  margin-bottom: 1rem;
}

/*BarreRecherche*/
.BarreRecherche {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.BarreRecherche > * {
  padding: 1rem 1.2rem;
  font-size: 1rem;
}

.BarreRecherche i {
  background-color: lightgrey;
  border-radius: 1rem 0 0 1rem;
  padding: 18.5px;
}

.BarreRecherche input {
  flex-basis: 16rem;
  border: 1px solid lightgrey;
  font-weight: bold;
  overflow: auto;
}

.BarreRecherche input::placeholder {
  color: black;
}

.BarreRecherche button {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  padding: 17px;
}

.fa.fa-search {
  display: none;
}

@media (max-width: 992px) {
  .BarreRecherche .buttonblanc {
    display: none;
  }

  .fa.fa-search {
    display: inline;
    background-color: inherit;
    padding: 17px;
  }
}

/*FILTRES*/

#partiefiltres {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.filtres .fa-solid {
  color: blue;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 50%;
  margin: -1px;
}

.filtres {
  border: 1px solid lightgrey;
  border-radius: 2rem;
}

.filtres span {
  font-weight: bold;
}

#partiefiltres span {
  font-weight: bold;
  padding: 0.5rem;
}

#économique {
  flex-basis: 11rem;
}

#familial {
  flex-basis: 9rem;
}

#romantique {
  flex-basis: 11rem;
}

#animaux_autorisés {
  flex-basis: 14rem;
}

/*info logements*/
.info_logements {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.info_logements .fa-info {
  color: blue;
  width: 2rem;
  height: 2rem;
  border: 1px solid darkgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*footer*/
footer {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: smaller;
  gap: 1rem;
  padding: 0 0 0 1rem;
  flex-wrap: wrap;
}
