@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

:root {
  --blue: #0065fc;
  --lightblue: #deebff;
  --lightgrey: #f2f2f2;
}

body,
html {
  font-size: 16px;
  width: 98%;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Body*/
body {
  margin-left: 32px;
}

/*Barre de navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-left: 2%;
}

nav a {
  padding: 48px;
  border-top: 3px solid transparent;
}

nav a:hover {
  border-top-color: var(--blue);
}

.subnav {
  display: flex;
}

.subnav a:hover {
  color: var(--blue);
}

#logo {
  height: 50px;
  margin-right: auto;
}

/*Main*/

#site {
  padding-left: 2%;
}
/*BarreRecherche*/
.BarreRecherche {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.BarreRecherche > * {
  padding: 16px 19.2px;
  font-size: 16px;
}

.BarreRecherche i {
  background-color: var(--lightgrey);
  border-radius: 16px 0 0 16px;
  padding: 21px;
}

.BarreRecherche input {
  flex-basis: 256px;
  border: 1px solid var(--lightgrey);
  font-weight: bold;
  overflow: auto;
  padding: 18px;
}

.BarreRecherche input::placeholder {
  color: black;
}

.BarreRecherche button {
  background-color: var(--blue);
  color: white;
  font-weight: bold;
  border-radius: 0 16px 16px 0;
  border: none;
  cursor: pointer;
  padding: 19px;
}

.fas.fa-search {
  display: none;
}

/*FILTRES*/

.partiefiltres {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
  flex-wrap: wrap;
}

.partiefiltres span {
  font-weight: bold;
  padding: 10px;
}

.filtres .fa-solid {
  color: var(--blue);
  background-color: var(--lightblue);
  border-radius: 50%;
  margin: -6px;
  padding: 14px;
}

.fa-child-reaching {
  font-size: 15px;
}

.filtres {
  background-color: white;
  border: 1px solid var(--lightgrey);
  border-radius: 30px;
  padding: 6px;
}

.filtres span {
  font-weight: bold;
}

/* animation filtres */
.filtres:hover {
  cursor: pointer;
  background-color: var(--lightgrey);
  transform: scale(1.02);
}

.filtres:hover i {
  background-color: var(--lightblue);
}

/*info logements*/
.info_logements {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info_logements .fa-info {
  color: var(--blue);
  width: 32px;
  height: 32px;
  border: 1px solid darkgrey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hébergements*/

.marseille_populaires {
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 32px;
}

.marseille_conteneur {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  margin-bottom: 16px;
}

.marseille_populaires h3 {
  font-size: 20px;
}

.marseille {
  width: 66%;
  background-color: var(--lightgrey);
  padding: 2%;
  border-radius: 15px 15px 15px 15px;
}

.Afficher_plus {
  display: flex;
  justify-self: left;
  flex-wrap: wrap;
  font-weight: bold;
  margin-right: 0;
  margin-left: 0.32px;
}

.marseille h3 {
  margin-left: 1px;
}

.card_marseille {
  width: 33%;
  height: 230px;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  box-shadow: 0px 5px 6px var(--lightgrey);
  flex-grow: 1;
  flex-basis: 30%;
  gap: 32px;
}

.hebmarseille_title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 3%;
  padding-left: 3%;
  object-fit: fill;
}

.hebmarseille_prix {
  padding-left: 3%;
  font-size: 14px;
  object-fit: fill;
}

.blue_start {
  color: var(--blue);
}

.grey_start {
  color: #d9d9d9;
  padding-left: 2%;
}

.starts_marseille {
  display: flex;
  padding-left: 3%;
  padding-bottom: 16px;
  font-size: 14px;
}

.image_card {
  border-radius: 20px 20px 0 0;
  height: 130px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.populaires {
  width: 33%;
  background-color: #f2f2f2;
  padding-left: 3%;
  border-radius: 15px 15px 15px 15px;
}

.populaires_conteneur {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
}

.lien_populaires {
  display: flex;
}

.info_populaires {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 8%;
  font-size: 16px;
}

.populaires_prix {
  font-size: 14px;
}
.titre_populaires {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-bottom: 8px;
}

.titre_populaires h3 {
  padding-top: 7%;
}

.icone_titre {
  font-size: 21px;
  padding-right: 7%;
  padding-top: 5.9%;
}

.populaires_card {
  width: 90%;
  height: 150px;
  max-height: 140px;
  min-width: 15px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 5px 6px #f2f2f2;
  flex: 1;
  gap: 40px;
}

.image_populaires {
  border-radius: 24px 0 0 24px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.images {
  width: 43%;
  height: 100%;
  padding: 1%;
}

.populaires_title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 10%;
  object-fit: fill;
}

.starts {
  display: flex;
  padding-top: 9%;
  font-size: 14px;
}

/* animation cards Marseille/Populaires*/

.card_marseille:hover,
.populaires_card:hover {
  transform: scale(1.03);
  transition: ease 0.2s;
  cursor: pointer;
}

/*Activités à Marseille*/

.activites_marseille {
  width: 98%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-top: 0.5%;
}

.activites {
  padding-bottom: 2%;
}

.activites h3 {
  font-size: 20px;
  padding-left: 0.2%;
  padding-top: 2.5%;
}

.activites_conteneur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 520px;
}

.grand_card {
  width: 23%;
  height: 478px;
  margin-top: 10px;
  margin-right: 2%;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0px 5px 6px #f2f2f2;
  object-fit: cover;
}

.deux_cards {
  gap: 22px;
}

.deuxpetites_card {
  gap: 26px;
}
.deux_cards,
.deuxpetites_card {
  width: 23%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.moyenne_card {
  width: 100%;
  height: 265px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0px 5px 6px #f2f2f2;
  object-fit: cover;
}

.moyennecard_image {
  width: 100%;
  height: 215px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  object-position: 100%;
  object-fit: cover;
}

.petite_card {
  width: 100%;
  height: 170px;
  margin-top: 10px;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0px 5px 6px #f2f2f2;
}

.petitecard_image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  object-position: 0% 34%;
  object-fit: cover;
}

.deux_petites {
  width: 100%;
  height: 217.6px;
  margin-top: 12px;
  margin-right: 25px;
  background-color: white;
  border-radius: 17px 17px 17px 17px;
  box-shadow: 0px 5px 6px #f2f2f2;
  gap: 32px;
}

.petitescards_image {
  width: 100%;
  height: 169.6px;
  object-fit: cover;
  object-position: center top;
  border-radius: 15px 15px 0px 0px;
}
.infocard_marseille {
  width: 100%;
  height: 50px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 13px;
}

.grandcard_image {
  width: 100%;
  height: 427.2px;
  object-fit: cover;
  object-position: bottom 50%;
  border-radius: 15px 15px 0px 0px;
}

/*Animation cards Activités à Marseille*/
.petite_card {
  transform: scale(1.03);
  transition: ease 0.4s;
  cursor: pointer;
}

/*Footer*/
.footer {
  background-color: var(--lightgrey);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: smaller;
  padding: 16px;
  padding-left: 2%;
}

#A_propos,
#Nos_hébergements,
#Assistance {
  flex-basis: 33%;
}
